.Pagination--container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  list-style: none;
}

.Pagination--container > * {
  user-select: none;
  cursor: pointer;
  padding: 7px 12px;
}

.Pagination--container > *:not(:last-child) {
  margin-right: var(--space-small);
}

.Pagination--currentPage {
  border: 2px solid var(--color-lightOrange);
  padding: 5px 10px;
}

.Pagination--arrow {
  height: 20px;
  width: 20px;
  padding: 0 !important;
}

.Pagination--arrowFiller {
  height: 20px;
  width: 20px;
  padding: 0 !important;
}
