.TransactionCost--container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  height: 250px;
}

.TransactionCost--container > *:last-child {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  height: 100%;
}

.TransactionCost--container > *:first-child {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  height: 100%;
}

@media (max-width: 1024px) {
  .TransactionCost--container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: auto;
  }

  .TransactionCost--container > * > *:not(:last-child) {
    margin-bottom: var(--space-small);
  }

  .TransactionCost--container > *:last-child {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: var(--space-big);
  }
}
