.CartBox--container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.CartBox--container > *:not(:last-child) {
  margin-bottom: var(--space-small);
}

.CartBox--items {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  padding: var(--space-big) 0 var(--space-small) 0;
}

.CartBox--items > *:not(:last-child) {
  margin-bottom: var(--space-big);
  padding-bottom: var(--space-big);
  border-bottom: 2px solid #ebe8e8;
}

.CartBox--container > *:last-child {
  align-self: center;
}

.CartBox--event--top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.CartBox--event--top > *:first-child {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-right: var(--space-medium);
  width: 50%;
}

.CartBox--event--top > *:first-child > *:not(:last-child) {
  margin-bottom: var(--space-small);
}

@media (max-width: 700px) {
  .CartBox--event--top {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
  }

  .CartBox--event--top > *:first-child {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-right: 0;
    width: 100%;
  }

  .CartBox--event--top > *:last-child {
    margin-top: var(--space-medium);
  }
}
