.Checkbox {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.Checkbox > span {
  display: inline-block;
}

.Checkbox > [type="checkbox"] {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.Checkbox > [type="checkbox"] + span::before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  vertical-align: -2px;
  border: 3px solid #fff;
  box-shadow: 0 0 0 2px var(--color-gray);
  margin-right: 7px;
  transition: 0.5s ease all;
}

.Checkbox > [type="checkbox"]:checked + span::before {
  background: var(--color-lightOrange);
  box-shadow: 0 0 0 2px var(--color-gray);
}
